<a href="https://colab.research.google.com/github/DiplovRawal/worksheet/blob/main/Worksheet3(Diplov_Rawal).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.shape

(891, 12)

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
titanic_data = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')
fare = titanic_data['Fare']
print(fare.head())

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [ ]:
class_age = titanic_data[['Pclass', 'Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
survived_gender = titanic_data[['Survived', 'Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [ ]:

fare_gt_100 = df[df['Fare'] > 100]
print(fare_gt_100)

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female    NaN      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female    NaN      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male    NaN      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male    NaN      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked
27       2     19950  263.0000      C23 C25 C27        S
31       0  PC 17569  146.5208              B78        C
88       2     19950  263.0000      C23 C25 C27        S
118      1  PC 17558  247.5208          B58 B60        C
195      0  PC 17569  146.5208              B80        C
215      0     35273  113.2750              D36        C
258      0  PC 17755  512.3292              NaN        C
268      1  PC 17582  153.4625             C125        S
269      0  PC 17760  135.6333              C99        S
297      2    113781  151.5500          C22 C26        S
299      1  PC 17558  247.5208          B58 B60        C
305      2    113781  151.5500          C22 C26        S
306      0     17421  110.8833              NaN        C
307      0  PC 17758  108.9000              C65        C
311      2  PC 17608  262.3750  B57 B59 B63 B66        C
318      2     36928  164.8667               C7        S
319      1     16966  134.5000              E34        C
325      0  PC 17760  135.6333              C32        C
332      1  PC 17582  153.4625              C91        S
334      0  PC 17611  133.6500              NaN        S
337      0     16966  134.5000              E40        C
341      2     19950  263.0000      C23 C25 C27        S
373      0  PC 17760  135.6333              NaN        C
377      2    113503  211.5000              C82        C
380      0  PC 17757  227.5250              NaN        C
390      2    113760  120.0000          B96 B98        S
393      0     35273  113.2750              D36        C
435      2    113760  120.0000          B96 B98        S
438      4     19950  263.0000      C23 C25 C27        S
498      2    113781  151.5500          C22 C26        S
505      0  PC 17758  108.9000              C65        C
527      0  PC 17483  221.7792              C95        S
537      0  PC 17761  106.4250              NaN        C
544      0  PC 17761  106.4250              C86        C
550      2     17421  110.8833              C70        C
557      0  PC 17757  227.5250              NaN        C
581      1     17421  110.8833              C68        C
609      0  PC 17582  153.4625             C125        S
659      2     35273  113.2750              D48        C
660      0  PC 17611  133.6500              NaN        S
679      1  PC 17755  512.3292      B51 B53 B55        C
689      1     24160  211.3375               B5        S
698      1     17421  110.8833              C68        C
700      0  PC 17757  227.5250          C62 C64        C
708      0    113781  151.5500              NaN        S
716      0  PC 17757  227.5250              C45        C
730      0     24160  211.3375               B5        S
737      0  PC 17755  512.3292             B101        C
742      2  PC 17608  262.3750  B57 B59 B63 B66        C
763      2    113760  120.0000          B96 B98        S
779      1     24160  211.3375               B3        S
802      2    113760  120.0000          B96 B98        S
856      1     36928  164.8667              NaN        S

In [ ]:
first_class = titanic_data[titanic_data['Pclass'] == 1]
print(first_class)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
11       0    113783  26.5500         C103        S
23       0    113788  35.5000           A6        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[216 rows x 12 columns]

In [ ]:
female_under_18 = titanic_data[(titanic_data['Age'] < 18) & (titanic_data['Sex'] == 'female')]
print(female_under_18)

     PassengerId  Survived  Pclass  \
9             10         1       2
10            11         1       3
14            15         0       3
22            23         1       3
24            25         0       3
39            40         1       3
43            44         1       2
58            59         1       2
68            69         1       3
71            72         0       3
84            85         1       2
111          112         0       3
114          115         0       3
119          120         0       3
147          148         0       3
156          157         1       3
172          173         1       3
184          185         1       3
205          206         0       3
208          209         1       3
233          234         1       3
237          238         1       2
297          298         0       1
307          308         1       1
329          330         1       1
374          375         0       3
381          382         1       3
389          390         1       2
419          420         0       3
435          436         1       1
446          447         1       2
448          449         1       3
469          470         1       3
479          480         1       3
504          505         1       1
530          531         1       2
535          536         1       2
541          542         0       3
542          543         0       3
618          619         1       2
634          635         0       3
642          643         0       3
644          645         1       3
689          690         1       1
691          692         1       3
720          721         1       2
750          751         1       2
777          778         1       3
780          781         1       3
781          782         1       1
813          814         0       3
830          831         1       3
852          853         0       3
853          854         1       1
875          876         1       3

                                                  Name     Sex    Age  SibSp  \
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.00      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.00      0
22                         McGowan, Miss. Anna "Annie"  female  15.00      0
24                       Palsson, Miss. Torborg Danira  female   8.00      3
39                         Nicola-Yarred, Miss. Jamila  female  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
58                        West, Miss. Constance Mirium  female   5.00      1
68                     Andersson, Miss. Erna Alexandra  female  17.00      4
71                          Goodwin, Miss. Lillian Amy  female  16.00      5
84                                 Ilett, Miss. Bertha  female  17.00      0
111                               Zabour, Miss. Hileni  female  14.50      1
114                              Attalah, Miss. Malake  female  17.00      0
119                  Andersson, Miss. Ellis Anna Maria  female   2.00      4
147                   Ford, Miss. Robina Maggie "Ruby"  female   9.00      2
156                   Gilnagh, Miss. Katherine "Katie"  female  16.00      0
172                       Johnson, Miss. Eleanor Ileen  female   1.00      1
184                Kink-Heilmann, Miss. Luise Gretchen  female   4.00      0
205                         Strom, Miss. Telma Matilda  female   2.00      0
208                          Carr, Miss. Helen "Ellen"  female  16.00      0
233                     Asplund, Miss. Lillian Gertrud  female   5.00      4
237                   Collyer, Miss. Marjorie "Lottie"  female   8.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
329                       Hippach, Miss. Jean Gertrude  female  16.00      0
374                         Palsson, Miss. Stina Viola  female   3.00      3
381                        Nakid, Miss. Maria ("Mary")  female   1.00      0
389                              Lehmann, Miss. Bertha  female  17.00      0
419                          Van Impe, Miss. Catharina  female  10.00      0
435                          Carter, Miss. Lucile Polk  female  14.00      1
446                  Mellinger, Miss. Madeleine Violet  female  13.00      0
448                     Baclini, Miss. Marie Catherine  female   5.00      2
469                      Baclini, Miss. Helene Barbara  female   0.75      2
479                           Hirvonen, Miss. Hildur E  female   2.00      0
504                              Maioni, Miss. Roberta  female  16.00      0
530                           Quick, Miss. Phyllis May  female   2.00      1
535                             Hart, Miss. Eva Miriam  female   7.00      0
541               Andersson, Miss. Ingeborg Constanzia  female   9.00      4
542                  Andersson, Miss. Sigrid Elisabeth  female  11.00      4
618                        Becker, Miss. Marion Louise  female   4.00      2
634                                 Skoog, Miss. Mabel  female   9.00      3
642                      Skoog, Miss. Margit Elizabeth  female   2.00      3
644                             Baclini, Miss. Eugenie  female   0.75      2
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
691                                 Karun, Miss. Manca  female   4.00      0
720                  Harper, Miss. Annie Jessie "Nina"  female   6.00      0
750                                  Wells, Miss. Joan  female   4.00      1
777                      Emanuel, Miss. Virginia Ethel  female   5.00      0
780                               Ayoub, Miss. Banoura  female  13.00      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.00      1
813                 Andersson, Miss. Ebba Iris Alfrida  female   6.00      4
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00      1
852                            Boulos, Miss. Nourelain  female   9.00      1
853                          Lines, Miss. Mary Conover  female  16.00      0
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.00      0

     Parch         Ticket      Fare    Cabin Embarked
9        0         237736   30.0708      NaN        C
10       1        PP 9549   16.7000       G6        S
14       0         350406    7.8542      NaN        S
22       0         330923    8.0292      NaN        Q
24       1         349909   21.0750      NaN        S
39       0           2651   11.2417      NaN        C
43       2  SC/Paris 2123   41.5792      NaN        C
58       2     C.A. 34651   27.7500      NaN        S
68       2        3101281    7.9250      NaN        S
71       2        CA 2144   46.9000      NaN        S
84       0     SO/C 14885   10.5000      NaN        S
111      0           2665   14.4542      NaN        C
114      0           2627   14.4583      NaN        C
119      2         347082   31.2750      NaN        S
147      2     W./C. 6608   34.3750      NaN        S
156      0          35851    7.7333      NaN        Q
172      1         347742   11.1333      NaN        S
184      2         315153   22.0250      NaN        S
205      1         347054   10.4625       G6        S
208      0         367231    7.7500      NaN        Q
233      2         347077   31.3875      NaN        S
237      2     C.A. 31921   26.2500      NaN        S
297      2         113781  151.5500  C22 C26        S
307      0       PC 17758  108.9000      C65        C
329      1         111361   57.9792      B18        C
374      1         349909   21.0750      NaN        S
381      2           2653   15.7417      NaN        C
389      0        SC 1748   12.0000      NaN        C
419      2         345773   24.1500      NaN        S
435      2         113760  120.0000  B96 B98        S
446      1         250644   19.5000      NaN        S
448      1           2666   19.2583      NaN        C
469      1           2666   19.2583      NaN        C
479      1        3101298   12.2875      NaN        S
504      0         110152   86.5000      B79        S
530      1          26360   26.0000      NaN        S
535      2   F.C.C. 13529   26.2500      NaN        S
541      2         347082   31.2750      NaN        S
542      2         347082   31.2750      NaN        S
618      1         230136   39.0000       F4        S
634      2         347088   27.9000      NaN        S
642      2         347088   27.9000      NaN        S
644      1           2666   19.2583      NaN        C
689      1          24160  211.3375       B5        S
691      1         349256   13.4167      NaN        C
720      1         248727   33.0000      NaN        S
750      1          29103   23.0000      NaN        S
777      0         364516   12.4750      NaN        S
780      0           2687    7.2292      NaN        C
781      0          17474   57.0000      B20        S
813      2         347082   31.2750      NaN        S
830      0           2659   14.4542      NaN        C
852      1           2678   15.2458      NaN        C
853      1       PC 17592   39.4000      D28        S
875      0           2667    7.2250      NaN        C

In [ ]:
embarked_c_or_s = titanic_data[titanic_data['Embarked'].isin(['C', 'S'])]
print(embarked_c_or_s)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          885         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C

[812 rows x 12 columns]

In [ ]:
first_class = titanic_data[titanic_data ['Pclass'] ==1]
first_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

3.2

In [9]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['fare_per_year'] = df['Fare'] / df['Age']

high_fare_age = df[df['fare_per_year'] > 5]

high_fare_age_srt = high_fare_age.sort_values(by=['fare_per_year'], ascending=False)

result = high_fare_age_srt[['Name', 'fare_per_year']]

result.head()

<ipython-input-9-99206ea22b24>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [10]:
df['fare_per_class'] = df['Fare'] / df['Pclass']

adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]

adult_males_srt = adult_males.sort_values(by=['fare_per_class'], ascending=False)

result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

result.head()

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

3.3

In [12]:
total_fare = df['Fare'].sum()
first_class_fare = df[df['Pclass'] == 1]['Fare'].sum()
second_class_fare = df[df['Pclass'] == 2]['Fare'].sum()
third_class_fare = df[df['Pclass'] == 3]['Fare'].sum()
class_fares = [first_class_fare, second_class_fare, third_class_fare]
class_proportions = [fare / total_fare * 100 for fare in class_fares]
print("Percentage of total fare revenue by passenger class:")
print("First Class: {:.2f}%".format(class_proportions[0]))
print("Second Class: {:.2f}%".format(class_proportions[1]))
print("Third Class: {:.2f}%".format(class_proportions[2]))

Percentage of total fare revenue by passenger class:
First Class: 63.35%
Second Class: 13.25%
Third Class: 23.40%

In [14]:
df['age_group'] = pd.cut(df['Age'], bins=[0, 18, 65, float('inf')], labels=['child', 'adult', 'senior'])
total_passengers = len(df)
age_group_counts = df['age_group'].value_counts()
age_group_proportions = (age_group_counts / total_passengers) * 100
print("Percentage of passengers in each age group:")
print(age_group_proportions)

Percentage of passengers in each age group:
age_group
adult     83.501684
child     15.600449
senior     0.897868
Name: count, dtype: float64